<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .odd{
            color:red;
        }
    </style>
</head>
<body>

<table border="1 solid black">
    <tr>
        <th>serial</th><th>Name</th><th>Email</th><th>Department</th><th>Is Admin</th>
    </tr>
    <th:block th:each="user,i:${users}">
        <tr th:class="${i.even}?'odd':''">
            <td th:text="${i.index}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.department}"></td>
            <td th:with="admin=${user.admin}">
                <span th:if="${admin}">Admin</span>
                <span th:unless="${admin}">User</span>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>